.home-container {
  padding: 40px;
  background-color: #000000;
  height: 200vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 50px;
}

.search-input {
  background-color: transparent;
  border: 2px solid grey;
  border-right: none;
  height: 40px;
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 50px;
  padding-left: 10px;
  font-size: 20px;
  color: #ffffff;
}

.search-button {
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 39px;
  cursor: pointer;
  border: 0;
  background-color: #202020;
}

.search-icon {
  color: #ffffff;
  font-size: 20px;
}
